<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout-dashboard}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <li class="nav-item d-none d-md-block">
                <a class="nav-link" href="javascript:void(0)">
                    <nav class="navbar bg-body">
                        <div class="container-fluid">
                            <form class="d-flex" role="search" action="/admin/role/search"
                                  method="get">
                                <input name="search" class="form-control custom-shadow custom-radius border-0 bg-white"
                                       style="width: 350px;" type="search"
                                       placeholder="Search by name" aria-label="Search">
                                <button class="btn btn-rounded btn-primary" style="width: 100px" type="submit">Search
                                </button>
                            </form>

                        </div>
                    </nav>
                </a>
            </li>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">Manage Role</h4>
            <div class="tab-content">
                <div class="tab-pane show active" id="home">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="role,index:${roles}">
                            <td th:text="${index.count}"></td>
                            <td th:text="${role.name}"></td>
                            <td th:text="${role.description}"></td>
                            <td>
                                 <span>
                                        <a th:href="@{/admin/role/detail/{id}(id=${role.id})}"
                                           class="btn waves-effect waves-light btn-rounded btn-warning"
                                        ><i data-feather="edit" class="feather-icon"></i></a>
                                         <a th:href="@{/admin/role/delete/{id}(id=${role.id})}">
                                           <button type="submit"
                                                   class="btn waves-effect waves-light btn-rounded btn-danger"
                                                   onclick="return confirm('Do you want to delete this role?')"><i
                                                   data-feather="trash-2"
                                                   class="feather-icon"></i>
                                           </button>
                                         </a>
                                              </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:if="${currentPage !=0}">
                                <a class="page-link"
                                   th:href="@{'/admin/role/pageNo/'+${ currentPage - 1}}">Previous</a>
                            </li>
                            <li class="page-item" th:each="i: ${#numbers.sequence(1,totalPages)}"
                                th:classappend="${currentPage == i - 1 ? 'active' : ''}">
                                <a class="page-link" th:href="@{'/admin/role/pageNo/'+${i - 1}}">
                                    <span th:text="${i}"></span>
                                </a>
                            </li>
                            <li class="page-item" th:if="${currentPage + 1 != totalPages}">
                                <a class="page-link" th:href="@{'/admin/role/pageNo/'+${currentPage + 1}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> <!-- end card-body-->
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <a href="/admin/roles/new" class="btn waves-effect waves-light btn-rounded btn-primary">Create new role</a>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>