<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout-authentication}"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
</head>

<body>
<!--  Body Wrapper -->
<div class="container" layout:fragment="content">
    <div class="card mb-0">
        <div class="card-body">
            <a th:href="@{/cookie-kai/login}"
               class="text-nowrap logo-img text-center d-block py-3 w-100">
                <img th:src="@{/dashboard/assets/images/site-logo.8a953140.png}" width="180" alt="">
            </a>
            <p class="text-center">Your Social Campaigns</p>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="email" class="form-control" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                </div>
                <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                        <input class="form-check-input primary" type="checkbox" value=""
                               id="flexCheckChecked" checked>
                        <input type="checkbox" name="rememberMe" class="form-check-label text-dark"
                               for="flexCheckChecked">
                        Remeber me
                        </input>
                    </div>
                    <a class="text-primary fw-bold" th:href="@{/cookie-kai/forgot-password}">Forgot
                        Password ?</a>
                </div>
                <a class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</a>
                <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">New to Cookie Kai Admin?</p>
                    <a class="text-primary fw-bold ms-2" th:href="@{/cookie-kai/create-account}">Create
                        an account</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>