<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout-dashboard}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .chia {
            display: flex;
            gap: 30px;
        }

    </style>
    <script>
        $(document).ready(function () {
            $("#photos").change(function () {
                fileSize = this.files[0].size;
                if (fileSize > 1048576) {
                    this.setCustomValidity("Image must be less than 1MB!");
                    this.reportValidity();
                } else {
                    this.setCustomValidity("");
                    chooseFile(this);
                }
            });
        });

        function chooseFile(fileInput) {
            var file = fileInput.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        }
    </script>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center mb-4">Create new user</h2>
            <div th:if="${message!=null}" class="alert alert-success" role="alert">
                [[${message}]]
            </div>
            <form action="/dashboard/users/save" th:object="${user}" method="post" enctype="multipart/form-data"
                  onsubmit="return confirm('Do you want to create an user?')">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <img th:src="@{/dashboard/assets/img/img.png}" alt="" id="imagePreview"
                                         class="img-fluid mb-1 mx-auto d-block"
                                         style="max-width: 100%; height: 153px; margin-left: 100px;">
                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                           type="file" accept="image/**" name="image" id="photos"
                                           onchange="chooseFile(this)"
                                           style="height: 40px;width: 250px;margin-left: 100px">
                                    <span th:if="${#fields.hasErrors('photos')}" style="color: red; font-size: 15px"
                                          th:errors="*{photos}"></span>
                                </div>
                                <div class="form-group mb-3 mt-2">
                                    <label class="form-label" style="margin-left: 10px">Role</label>
                                    <div class="customize-input d-flex">
                                        <select
                                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                                style="height: 50px"
                                                th:field="*{roles}"
                                        >
                                            <option th:each="role : ${roleList}" th:value="${role.id}"
                                                    th:text="${role.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" style="margin-left: 10px">Full name</label>
                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                           type="text" placeholder="Please type fullname" th:field="*{fullname}"
                                           style="height: 50px">
                                    <span th:if="${#fields.hasErrors('fullname')}" style="color: red; font-size: 15px"
                                          th:errors="*{fullname}"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" style="margin-left: 10px">Enable</label>
                                    <div class=" d-flex">
                                        <div class="form-check" style="margin-left: 10px;margin-right: 25px">
                                            <input class="form-check-input" type="radio" name="enabled" th:value="true"
                                                   th:field="*{enabled}" checked>
                                            <label class="form-check-label">
                                                True
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="enabled"
                                                   th:value="false" th:field="*{enabled}">
                                            <label class="form-check-label">
                                                False
                                            </label>
                                        </div>
                                        <span th:if="${#fields.hasErrors('enabled')}"
                                              style="color: red; font-size: 15px"
                                              th:errors="*{enabled}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6" style="margin-top: 40px">
                                <div class="form-group mb-3">
                                    <label class="form-label" style="margin-left: 10px">Gender</label>
                                    <div class=" d-flex">
                                        <div class="form-check" style="margin-left: 10px;margin-right: 25px">
                                            <input class="form-check-input" type="radio" name="gender" th:value="true"
                                                   th:field="*{gender}" checked>
                                            <label class="form-check-label">
                                                Male
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender"
                                                   th:value="false" th:field="*{gender}">
                                            <label class="form-check-label">
                                                Female
                                            </label>
                                        </div>
                                        <br>
                                        <span th:if="${#fields.hasErrors('gender')}"
                                              style="color: red; font-size: 15px"
                                              th:errors="*{gender}"></span>
                                    </div>

                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label" style="margin-left: 10px">Date of birth</label>
                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                           type="date" th:field="*{birthday}"
                                           style="height: 50px">
                                    <span th:if="${#fields.hasErrors('birthday')}" style="color: red; font-size: 15px"
                                          th:errors="*{birthday}"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" style="margin-left: 10px">Email</label>
                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                           type="text" placeholder="Please type email" name="email" id="email"
                                           th:field="*{email}"
                                           style="height: 50px">
                                    <span th:if="${#fields.hasErrors('email')}" style="color: red; font-size: 15px"
                                          th:errors="*{email}"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" style="margin-left: 10px">Phone number</label>
                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                           type="text" name="phoneNumber" id="phoneNumber"
                                           placeholder="Please type password" th:field="*{phoneNumber}"
                                           style="height: 50px">
                                    <span th:if="${#fields.hasErrors('phoneNumber')}"
                                          style="color: red; font-size: 15px"
                                          th:errors="*{phoneNumber}"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" style="margin-left: 10px">Password</label>
                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                           type="password" placeholder="Please type password" th:field="*{password}"
                                           style="height: 50px">
                                    <span th:if="${#fields.hasErrors('password')}" style="color: red; font-size: 15px"
                                          th:errors="*{password}"></span>
                                </div>

                            </div>
                        </div>
                        <div class="ngang">
                            <label class="form-label" style="margin-left: 10px">Address</label>
                            <div class="form-group chia">
                                <select class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                        style="height: 45px"
                                        name="province" id="province">
                                    <option value="">Choose province</option>
                                </select>
                                <br>

                                <select class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                        style="height: 45px"
                                        name="district" id="district">
                                    <option value="">Choose district</option>
                                </select>
                                <br>
                                <select class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                        style="height: 45px"
                                        name="ward" id="ward">
                                    <option value="">Choose ward</option>
                                </select>
                                <input type="hidden" th:field="*{address}" id="addressInput" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="text-align: center; padding-top: 1rem">
                        <button type="submit" class="btn btn-success">Add</button>
                        <button type="button" class="btn btn-success" id="buttonCancel">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>
