<!DOCTYPE html>
<html dir="ltr" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modernize Free</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"
          integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link th:href="@{/dashboard/assets/extra-libs/c3/c3.min.css}" rel="stylesheet">
    <link th:href="@{/dashboard/dist/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/dashboard/assets/css/custom.css}" rel="stylesheet">
    <script th:src="@{/dashboard/assets/js/config.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
            integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <section layout:fragment="content">
                        <p>This is filled by the content template.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script th:src="@{/dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dashboard/dist/js/feather.min.js}"></script>
<script th:src="@{/dashboard/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/dashboard/dist/js/sidebarmenu.js}"></script>
<script th:src="@{/dashboard/dist/js/custom.min.js}"></script>
<script th:src="@{/dashboard/assets/extra-libs/c3/d3.min.js}"></script>
<script th:src="@{/dashboard/vendors/lodash/lodash.min.js}"></script>
<script th:src="@{/dashboard/vendors/dropzone/dropzone.min.js}"></script>
<script th:src="@{/dashboard/assets/js/phoenix.js}"></script>
<script th:src="@{/dashboard/assets/js/scripts.bundle.js}"></script>
</body>
</html>